# mysql config
DB_HOST=db
MYSQL_ROOT_PASSWORD=<nhap_mat_khau_root_vao_day>
MYSQL_DATABASE=prephub
MYSQL_USER=<nhap_user_vao_day>
MYSQL_PASSWORD=<nhap_mat_khau_vao_day>

# google oauth config
GOOGLE_CLIENT_ID=<nhap_google_client_id_vao_day>
GOOGLE_CLIENT_SECRET=<nhap_google_client_secret_vao_day>
GOOGLE_REDIRECT_URI=http://localhost:3000/client/pages/redirect.php

# mail config
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=<nhap_email_gmail_vao_day>
MAIL_PASSWORD=<nhap_app_password_vao_day>
MAIL_FROM_NAME=PrepHub
MAIL_PORT=587
